* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "HakunaRegular";
    src: url("fonts/Hakuna\ Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "HakunaRegular", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* global */
.ma-8vw {
    margin: 0 8vw;
}

.ma-16 {
    margin: 16px;
}

.ls-2 {
    letter-spacing: 2px;
}

.flex {
    display: flex;
}

/* header !!!!!!!!!!!!!!!! */
/* header {
    background: url('assets/pattern.jpg') no-repeat center/cover;
    height: 85vh;
    width: 100%;
}

.header-content {
    height: 100%;
    justify-content: space-around;
    align-items: flex-end;
}

.photo {
    content: url(assets/Fredy1.png);
    height: 90%;
    max-width: 40vw;
}

.logo {
    content: url(assets/Fredy-logo.png);
    height: 60%;
    margin-bottom: 256px;
    top: 0;
    max-width: 100%;
} */
/* header {
    background: url('assets/pattern.jpg') no-repeat center/cover;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.photo {
    content: url(assets/Fredy1.png);
    height: 90%;
    max-width: 40vw;
}

.logo {
    content: url(assets/Fredy-logo.png);
    height: 60%;
    top: 0;
    max-width: 100%;
} */

header {
    background: url('assets/pattern.jpg') no-repeat center/cover;
    height: 85vh;
    width: 100%;
    position: relative;
}

.logo {
    content: url(assets/Fredy-logo.png);
    height: 60%;
    max-width: 100%;
    z-index: 1;
    position: absolute;
    top: 10%;
    right: 15%;
}

.photo {
    content: url(assets/Fredy1.png);
    height: 90%;
    max-width: 40vw;
    position: absolute;
    bottom: 0;
    left: 15%;
}

/* !!!!!!!!!!!header end !!!!!!!!!*/
.main {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.player {
    width: 50%;
    flex-shrink: 1;
    position: relative;
    top: -232px;
}

#player,
#spotify-player {
    height: 60vh;
    /* margin: -64px 0; */
}

.bio {
    width: 45%;
    margin: 0 8px 32px 0;
}

h1 {
    font: 500 64px "HakunaRegular";
    color: #d74214;
    padding: 44px 0 24px 0;
}

p {
    font: 300 16px 'Open Sans', sans-serif;
    margin: 14px 0px;
    text-align: justify;
    line-height: 22px;
}

/* bio END!!!!!!!!!!!!!!!! */
.youtube-container {
    height: 8vw;
    padding-top: 16px;
    margin-top: -232px;
}

.youtube {
    width: 100%;
    aspect-ratio: 16/9;
}

.bck,
.contact {
    background-color: #d74214;
}

/* contact !!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.contact {
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
}

h2 {
    font-size: 48px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.socials {
    justify-content: space-evenly;
    width: 50%;
}

.socials a {
    color: black;
    font-size: 48px;
    transition: all 100ms ease 0s;
}

.socials a:hover {
    color: #193f8c;
}

/* end of .bio */
#form {
    width: 100%;
    height: 100%;
    background: black;
}

.location-wrapper,
#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    text-align: center;
    padding: 24px 0;
    width: 100vw;
    box-sizing: border-box;
}

.form h3 {
    display: none;
}

.form label {
    display: block;
    font-size: 32px;
    margin: 12px 0;
    letter-spacing: 2px;
    color: white;
}

.form label.paragraf {
    font: 300 16px 'Open Sans', sans-serif;
}

.form input[type="text"],
.form input[type="email"] {
    display: block;
    margin: 12px auto;
    padding: 12px;
    font-family: "HakunaRegular";
    font-size: 32px;
    width: calc(100% - 40px);
    max-width: 250px;
}

.form input[type="email"] {
    max-width: 300px;
    max-height: 16px;
}

.form input[type="submit"] {
    margin: 12px 0;
    padding: 14px 24px;
    background-color: #d74214;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font: 36px "HakunaRegular";
    transition: all 100ms ease-out 0s;
}

.form input[type="submit"]:hover {
    color: black;
}

.location-wrapper label {
    margin-right: 16px;
    /* padding: 32px 0; */
}

.location-wrapper input[type="text"] {
    margin: 0;
}

.location-wrapper .exclamation {
    font-size: 32px;
    color: white;
    margin-left: 8px;
}

#location::placeholder {
    color: #93ACBB;
}

/* footer */
footer {
    background-color: #193f8c;
    flex-direction: column;
    align-items: center;
}

.footer-info {
    padding: 32px 0;
}

.footer-info p {
    color: white;
    font: 200 48px "HakunaRegular";
    text-align: center;
    padding: 12px 0;
    margin: 0;
}

@media (max-width: 768px) {
    header {
        height: 45vh;
    }

    .photo {
        height: 45vh;
        max-width: none;
    }


    .logo {
        height: 30vh;
        max-width: 60vw;
    }

    .main {

        flex-flow: row wrap;
    }

    .player {
        width: 100%;
        margin: -16px 0;
        height: 50vh;
        z-index: 2;
    }

    #player,
    #spotify-player {
        height: 45vh;
        top: -5vh;
    }

    .bio {
        width: auto;
        margin-bottom: 0;
    }

    h1 {
        padding: 16px;
    }

    .youtube-container {
        margin-top: 0;
    }

    .bck {
        height: 25vh;
    }

    h2 {
        font-size: 36px;
    }

    .socials {
        justify-content: space-around;
    }

    .socials a {
        font-size: 36px;
    }

    .form label,
    .form input[type="submit"] {
        font-size: 32px;
    }

    .location-wrapper label {
        margin-right: 8px;
    }

    .label.h3 {
        display: none;
    }

    .form h3 {
        font-size: 32px;
        margin: 12px 0;
        color: white;
        display: block;
        font-weight: 300;
    }

    .footer-info p {
        font-size: 32px;
        margin-top: 16px;
        letter-spacing: 3px;
    }
}

/* Media queries for tablets */
@media (min-width: 768px) and (max-width: 1025px) {

    header {
        height: 70vh;
    }


    .logo {
        height: 40vh;
        right: 25%;
    }

    .photo {
        height: 60vh;
    }

    h1 {
        font-size: 48px;
        padding-top: 32px;
    }

    .bck {
        height: 35vh;
    }

    .footer-info p {
        font-size: 32px;
        margin-top: 32px;
    }

    h2 {
        font-size: 40px;
    }

    .socials a {
        font-size: 36px;
    }

    .form h3 {
        font-size: 32px;
        margin: 12px 0;
        letter-spacing: 2.5px;
        color: white;
        display: block;
        font-weight: 300;
    }

    .label.h3 {
        display: none;
    }


    .player {
        margin: -16px 0;
        z-index: 2;
        top: 30%
    }
}

@media (max-width: 480px) {

    .photo {
        height: 40vh;
    }

    .logo {
        height: 10vh;
        max-width: 80vw;
    }
}