/* paleta
niebieski 193f8c
zółty d74214 */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "HakunaRegular";
    src: url("fonts/Hakuna\ Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "HakunaRegular", sans-serif;
    box-sizing: border-box;
}

.ma-10vw {
    margin: 0 10vw;
}

header {
    background: url('assets/pattern.jpg');
    height: 85vh;
    width: 100%;
}

.header-content {
    height: 100%; 
}

.photo {
    height: 100%;
    position: relative;
    width: 50%;
}

.photo img {
    height: 85%;
    position: absolute;
    left: 0;
    bottom: 0;
} 

 .logo {
    position: absolute;
    left: 50%;
    top: 10%;
}

.logo img {
    height: 40vh;
}

.player {
    position: absolute;
    left: 50%;
    top: 55%;
    width: 40%;
    height: 75%;
}

/* !!!!!!!!!!!header end !!!!!!!!!*/
.bio {
    display: block;
    width: 35%;
    margin-bottom: 5vh;
}

h1 {
    font-size: 3rem;
    color: #d74214;
    text-align: left;
    padding: 1rem 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0px;
    margin: 15px 0px;
    text-align: justify;
}

.youtube-container{
    height: 10vw;
}
.youtube{
    width: 100%;
    aspect-ratio: 16/9;
}

.bck {
    background-color: #d74214;
    height: 50vh;
    /* z-index: -1; */
}

#contact {
    background-color: #d74214;
    height: 30vh;
    position: relative;
    text-align: center;
}

.contact {
    text-align: center;
    bottom: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials a {
    color: #000000;
    margin: 15px;
    font-size: 50px;
    transition: all 100ms ease 0s;
}

.socials a:hover {
    color: #193f8c;
}

h2 {
    font-size: 3rem;
    margin: 10px;
    letter-spacing: 2px;
}

/* form */
.form {
    background-color: black;
    padding: 20px;
    color: white;
}

.form h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 2px;

}

.form input[type="text"],
.form input[type="email"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
}

.form input[type="submit"] {
    background-color: #d74214;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
}

.form input[type="submit"]:hover {
    background-color: #193f8c;
}

/* footer */
footer {
    background-color: #193f8c;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-info p {
    color: #fff;
    font-size: 35px;
    font-family: "HakunaRegular";
    margin-top: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

/* Media queries for smartphones */
@media (max-width: 767px) {
    header {
        height: 40vh;
        position: relative;
    }
    .logo {
        left: 55%;
    }

    .logo img {
        height: 25vh;
    }
    .player{
        position: absolute;
        top: 40vh;
    left: 0;
    width: auto;
    text-align: center;
    margin: 0 10vw;

    } 

    h1 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .bck {
        height: 25vh;
    }

    #contact {
        height: 20vh;
    }

    .footer-info p {
        font-size: 20px;
        margin-top: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    .socials a {
        font-size: 25px;
    }

    footer {
        height: 25vh;
    }
}

/* Media queries for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        height: 100%;
    }

    header {
        height: 80vh;
    }
    .logo {
        left: 50%;
    }

    .logo img {
        height: 40vh;
    }

    h1 {
        font-size: 2.5rem;
        padding-top: 2rem;
    }

    .bck {
        height: 40vh;
    }

    #contact {
        height: 35vh;
    }

    .footer-info p {
        font-size: 2rem;
        margin-top: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    .socials a {
        font-size: 25px;
    }
}