* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "HakunaRegular";
    src: url("fonts/Hakuna\ Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* html,
body {
    min-height: 100%;
} */

body {
    font-family: "HakunaRegular", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* global */
.ma-8vw {
    margin: 0 8vw;
}

.ma-16 {
    margin: 16px;
}

.ls-2 {
    letter-spacing: 2px;
}

.flex {
    display: flex;
}

/* #progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #4caf50;
    z-index: 1000;
} */

header {
    background: url('assets/pattern.jpg') no-repeat center/cover;
    height: 85vh;
    width: 100%;
    position: relative;
}

.header_inner {
    width: 84vw;
    height: 100%;
    margin-left: 8vw;
    position: relative;
}

.logo {
    background-image: url(assets/Fredy-logo.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: calc(100% - 232px);
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.photo {
    background-image: url(assets/Fredy1.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* !!!!!!!!!!!header end !!!!!!!!!*/
.main {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    /* width: 84vw; */
    margin-left: 8vw;
    position: relative;
    margin-bottom: 48px;
    overflow: visible;
    min-height: 536px;
}

.player {
    width: 50%;
    float: left;
    margin-top: -200px;

}

.player iframe {
    height: 736px;
}

.bio {
    width: 50%;
    float: left;
}

.bio p {
    padding-right: 50px;
}

h1 {
    font: 500 64px "HakunaRegular";
    color: #d74214;
    padding: 44px 0 24px 0;
}

p {
    font: 300 16px 'Open Sans', sans-serif;
    margin: 14px 0px;
    text-align: justify;
    line-height: 22px;
}

/* bio END!!!!!!!!!!!!!!!! */
.background {
    /* height: 500px; */
    /* padding-top: 50px; */
}

.youtube-container {
    /* height: 1000px; */
    padding-top: 24px;
    /* margin-top: -232px; */
}

.youtube {
    width: 100%;
    aspect-ratio: 16/9;
}

.bck {
    height: 300px;
}

.bck,
.contact {
    background-color: #d74214;
}

/* contact !!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.contact {
    height: 84vh;
}

h2 {
    font-size: 48px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.socials {
    justify-content: space-evenly;
    width: 50%;
}

.socials a {
    color: black;
    font-size: 48px;
    transition: all 100ms ease 0s;
}

.socials a:hover {
    color: #193f8c;
}

/* end of .bio */
#form {
    width: 100%;
    height: 100%;
    background: black;
}

.location-wrapper,
#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    text-align: center;
    padding: 24px 0;
    width: 100vw;
    box-sizing: border-box;
}

.form h3 {
    display: none;
}

.form label {
    display: block;
    font-size: 32px;
    margin: 12px 0;
    letter-spacing: 2px;
    color: white;
}

.form label.paragraf {
    font: 300 16px 'Open Sans', sans-serif;
}

.form input[type="text"],
.form input[type="email"] {
    display: block;
    margin: 12px auto;
    padding: 12px;
    font-family: "HakunaRegular";
    font-size: 32px;
    width: calc(100% - 40px);
    max-width: 250px;
}

.form input[type="email"] {
    max-width: 300px;
    max-height: 16px;
}

.form input[type="submit"] {
    margin: 12px 0;
    padding: 14px 24px;
    background-color: #d74214;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font: 36px "HakunaRegular";
    transition: all 100ms ease-out 0s;
}

.form input[type="submit"]:hover {
    color: black;
}

.location-wrapper label {
    margin-right: 16px;
    /* padding: 32px 0; */
}

.location-wrapper input[type="text"] {
    margin: 0;
}

.location-wrapper .exclamation {
    font-size: 32px;
    color: white;
    margin-left: 8px;
}

#location::placeholder {
    color: #93ACBB;
}

/* footer */
footer {
    background-color: #193f8c;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    height: 48vh;
}

.footer-info {
    padding: 32px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-info p {
    color: white;
    font: 200 48px "HakunaRegular";
    text-align: center;
    padding: 12px 0;
    margin: 0;
}

@media (max-width: 768px) {
    /* header {
        height: 45vh;
    }

    .photo {
        height: 45vh;
        max-width: none;
    }


    .logo {
        height: 30vh;
        max-width: 60vw;
    } */

    /* .main {

        flex-flow: row wrap;
    }

    .player {
        width: 100%;
        margin: -16px 0;
        height: 50vh;
        z-index: 2;
    }

    #player,
    #spotify-player {
        height: 45vh;
        top: -5vh;
    }

    .bio {
        width: auto;
        margin-bottom: 0;
    } */

    /* h1 {
        padding: 16px;
    }

    .youtube-container {
        margin-top: 0;
    }

    .bck {
        height: 25vh;
    } */

    h2 {
        font-size: 36px;
    }

    .socials {
        justify-content: space-around;
    }

    .socials a {
        font-size: 36px;
    }

    .form label,
    .form input[type="submit"] {
        font-size: 32px;
    }

    .location-wrapper label {
        margin-right: 8px;
    }

    .label.h3 {
        display: none;
    }

    .form h3 {
        font-size: 32px;
        margin: 12px 0;
        color: white;
        display: block;
        font-weight: 300;
    }

    .footer-info p {
        font-size: 32px;
        margin-top: 16px;
        letter-spacing: 3px;
    }
}

/* Media queries for tablets */
@media (min-width: 768px) and (max-width: 1025px) {

    /* header {
        height: 70vh;
    } */


    h1 {
        font-size: 48px;
        padding-top: 32px;
    }

    .bck {
        height: 35vh;
    }

    .footer-info p {
        font-size: 32px;
        margin-top: 32px;
    }

    h2 {
        font-size: 40px;
    }

    .socials a {
        font-size: 36px;
    }

    .form h3 {
        font-size: 32px;
        margin: 12px 0;
        letter-spacing: 2.5px;
        color: white;
        display: block;
        font-weight: 300;
    }

    .label.h3 {
        display: none;
    }


    .player {
        margin: -16px 0;
        z-index: 2;
        top: 30%
    }
}